/*Apply to all code*/
body {
	font-family: 'Lato',sans-serif;
	color: #660;
	font-weight: 300;
}

/*Text modifications*/
.text-muted {
	color: #bcbbbb;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 10px;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

/*Logo margin*/
.title-logo {
	margin-top: 20px;
}

/*Line edit*/
.thicker-line {
	border-top: 4px solid #bcbbbb;
}

