/*Apply to all code*/
body {
	font-family: 'Lato',sans-serif;
	color: #660;
	font-weight: 300;
	display: flex;
	flex-wrap: wrap;
}

img, 
embed, 
object, 
video {
	max-width: 100%;
	transition: width 0.5s;
}

/*Text modifications*/
.text-muted {
	color: #bcbbbb;
	font-weight: bold;
	padding: 10px 0px 0px 5px;
}

.text-thin {
	font-weight: 100;
}

/*Logo margin*/
.title-logo {
	margin: 20px 0px 0px 0px;
}

/*Line edit*/
.thicker-line {
	border-top: 4px solid #bcbbbb;
}

/*Change cursor to a hand*/
.hand {
	cursor: pointer;
}

/*edit nav bar */
a {
	width: 100px;
	text-align: center;
}

/*Adjust heading font size*/
@media screen and (min-width: 400px) {
	.title-super {
		font-size: 40px;
	}
}

@media screen and (min-width: 600px) {
	.title-super {
		font-size: 50px;
	}
}

@media screen and (min-width: 1000px) {
	.title-super {
		font-size: 60px;
	}
}

