/*Apply to all code*/
body {
	font-family: 'Lato',sans-serif;
	color: #660;
	font-weight: 300;
}

img, embed, object, video {
	max-width: 100%;
}

/*Text modifications*/
.text-muted {
	color: #bcbbbb;
	font-weight: bold;
	padding: 10px 0px 0px 5px;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

/*Logo margin*/
.title-logo {
	margin-top: 20px;
}

/*Line edit*/
.thicker-line {
	border-top: 4px solid #bcbbbb;
}

/*Change cursor to a hand*/
.hand {
	cursor: pointer;
}

/*edit nav bar */
.navbar-nav>li>a {
	width: 100px;
	text-align: center;
}
